<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="Cononicoの文艺复兴"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">
    
    <meta name="description" itemprop="description" content="Cononicoの个人博客" />
    <meta name="keywords" itemprop="keywords" content="二次元,绘画，宅,前端,Node" />

    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico" />
    <style>
        html,body,div,h1,img{
            margin:0;
            padding:0;
        }
        #container,#message{
            text-align:center;
        }
        #error-img{
            height:500px;
        }
    </style>
  </head>
  <body>
      <div id="container">
          <h1 id="message"><%= message %></h1>
          <img id="error-img" src="/images/pic/error.png" />
        </div>
      </div>
  </body>
</html>
