<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= website.name %> | <%= blog.title %></title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="Cononicoの文艺复兴"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">
    
    <meta name="description" itemprop="description" content="Cononicoの个人博客" />
    <meta name="keywords" itemprop="keywords" content="二次元,绘画，宅,前端,Node" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico" />

    <link rel="stylesheet" href="/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
  </head>
  <body>
      <% include header.html %>
      <div id="container">   
          <div class="page article-page">
              <section id="content" class="article-content">
                  <article>
                      <div class="article-info-div">
                      <div class="article-user-img-div float-left">
                        <img src="<%=blog.head_img %>">
                      </div>
                      <div class="vertical-line-div float-left">
                        <div class="vertical-line"></div>
                      </div>
                      <div class="article-info float-left">
                        <h3 class="article-title-h">
                          <span class="shine-font-span"></span>
                          <a href="/article/av<%=blog.id %>" data-pjax="true"><%=blog.title %></a>
                        </h3>
                        <div class="article-other-info">
                          <span>
                             <a class="article-author" data-pjax="true"><%= blog.username %></a>
                          </span><span>
                            <a class="article-comments-num" href="/article/av<%=blog.id%>#disqus_thread" data-pjax="true">0 Comments</a>
                          </span><span>
                            <a class="article-view-num"><%= blog.view_num %> Views</a>
                          </span><span>
                            <a class="article-date"><%= blog.publish_date.getFullYear()+'-'+(blog.publish_date.getMonth()+1)+'-'+blog.publish_date.getDate() %></a>
                          </span>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="article-content-div">
                        <%- blog.content %>
                    </div>
                    <nav class="post-nav">
                       <% if(prev.length != 0){ %>
                       <div>
                           <span class="post-nav-prev-span">上一篇</span>
                           <a class="post-nav-a" href="/article/av<%= prev[0].id %>" data-pjax="true"><%= prev[0].title %></a>
                       </div>
                       <% } %>
                       <% if(next.length != 0){ %>
                       <div>
                           <span class="post-nav-next-span">下一篇</span>
                           <a class="post-nav-a" href="/article/av<%= next[0].id %>" data-pjax="true"><%= next[0].title %></a>
                       </div>
                       <% } %>
                    </nav>
                    <div>
                       <div id="disqus_thread"></div>
                       <script>
                            var disqus_config = function () {
                                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            (function() {  // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');

                                s.src = '//coolecho.disqus.com/embed.js';

                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                      </script>
                      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                    </div>
                  </article>
              </section>
          </div>
      </div>
      <% include footer.html %>
      <script src="/javascripts/libs/jquery-2.1.4.min.js"></script>
      <script src="/javascripts/libs/jquery.pjax.js"></script>
      <script src="/javascripts/front/pjax-loading.js"></script>
      <script type="text/javascript" src="/javascripts/common/util.js"></script>
      <script type="text/javascript" src="/javascripts/front/index.js"></script>
      <script id="dsq-count-scr" src="//coolecho.disqus.com/count.js" async></script>
      <script src="/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
      <script type="text/javascript">
          SyntaxHighlighter.highlight();
          $("table.syntaxhighlighter").each(function () {
            if (!$(this).hasClass("nogutter")) {
                var $gutter = $($(this).find(".gutter")[0]);
                var $codeLines = $($(this).find(".code .line"));
                $gutter.find(".line").each(function (i) {
                    $(this).height($($codeLines[i]).height());
                    $($codeLines[i]).height($($codeLines[i]).height());
                });
            }
        });
    </script>
  </body>
</html>