<span id="backtop">
    <span class="backtop-border"></span>
    <i class="backtop-icon"></i>
</span>
<foot id="foot" class="foot">
    <div class="foot_power">
        <h3>©2016-2017 Powerd by
            <a href="https://blog.coolecho.net" title="CNO" target="_blank"> CNO's</a>
            <a href="https://github.com/pantsPoi/Spruche" title="Spruche" target="_blank">Spruche</a>
            <a href="http://www.miitbeian.gov.cn/" title="beian" target="_blank">鄂ICP备14020745号</a>
        </h3>
    </div>
</foot>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75476290-1', 'auto');
  ga('send', 'pageview');

</script>
