<header class="head-main">
  <div class="loading-div">
    <div class="progress-bar"></div>
  </div>
  
  <div class="head_logo_div" id="head_logo_div">
    <img class="head_logo" id="head_logo" src="/images/pic/head.jpg">
    <div class="motto motto-l"><h5>千里之行</h5></div>
    <div class="motto motto-r"><h5>始于足下</h5></div>
  </div>

  <div class="head_nav_div" id="head_nav_div">
      <nav class="head_nav">
        <ul id="nav_ul">
            <li class="nav_li_on nav_ul_li">Home</li>
            <li class="nav_ul_li">Skill</li>
            <li class="nav_ul_li">Experience</li>
            <li class="nav_ul_li">Hobby</li>
            <li class="nav_ul_li">Contact</li>
        </ul>
     </nav>
  </div>
</header>

<header class="mobile-head-main">
    <div class="mobile-menu">
        <a class="get-menu-icon"></a>
        <h3 class="website-h3"><%=website.name%></h3>
        <a class="home-menu-icon" href="/"></a>
    </div>

    <div class="mobile-nav">
        <div class="mobile-head-logo-div">
            <img class="mobile-head-logo" src="/images/pic/head.jpg">
            <h5 class="motto-h5">千里之行,始于足下</h5>
        </div>

        <div class="mobile-head-nav-div">
            <nav class="mobile-head-nav">
                <ul class="mobile-nav-ul">
                    <li class="nav_li_on">Home</li>
                    <li>Skill</li>
                    <li>Experience</li>
                    <li>Hobby</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </div>
    </div>

</header>