<style>
  .spinner {
    display:none;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    position: relative;
    text-align: center; 
    -webkit-animation: rotate 2.0s infinite linear;
    -moz-transition:rotate 2.0s infinite linear;
    -ms-transition:rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;
  }
 
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    
    border-radius: 100%;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
    -moz-transition: bounce 2.0s infinite ease-in-out;
    -ms-transition: bounce 2.0s infinite ease-in-out;
  }

  .dot1{
    background-color: #67CF22;
  }
  
  .dot2 {
    top: auto;
    bottom: 0px;
    background-color: #782B2B;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    -moz-transition-delay: -1.0s;
    -ms-transition-delay: -1.0s;
  }
  
  @-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes rotate { 100% { 
    transform: rotate(360deg); 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    }
  }
  @-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg) }}
  @-ms-keyframes rotate { 100% { -moz-transform: rotate(360deg) }}
  
  @-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
      -moz-transform: scale(0.0);
      -moz-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(0.0);
      -moz-transform: scale(0.0);
    }
  }

  @-moz-keyframes bounce {
    0%, 100% {
     -moz-transform: scale(0.0);
    } 50% {
      -moz-transform: scale(1.0);
    }
  }

  @-ms-keyframes bounce {
    0%, 100% {
      -ms-transform: scale(0.0);
    } 50% {
      -ms-transform: scale(1.0);
    }
  }
</style>

<div class="spinner" id="loding-div">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>