<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=website.name %> | <%= title %></title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="<%=website.name %>登陆页面"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black"><meta name="description" itemprop="description" content="<%= website.name %>的登陆页面" />
    <link rel='stylesheet' href='/dist/main.min.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico" />
    
    <script src="/javascripts/libs/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/libs/jquery.cookie.js"></script>
    <script src="https://static.geetest.com/static/tools/gt.js"></script>
  </head>
  <body>
      <% include header.html %>
      
      <div class="login-main">
          <div id="login-div">
              <div class="login-form-div">
                  <form class="login-form" id="login-form">   
                     <div class="login-form-d login-form-d-f">
                        <span class="login-username-icon"></span> 
                        <input class="login-form-ipt" type="text" placeholder="邮箱" name="email" id="email">
                     </div>
                     <div class="login-form-d login-form-d-f">
                        <span class="login-password-icon"></span> 
                        <input class="login-form-ipt" type="password" placeholder="密码" name="password" id="password">
                     </div>
                     <div class="login-form-d login-form-d-f">
                         <div id="embed-captcha" style="width:300px;margin:0 auto;"></div>
                     </div>
                     <div class="login-form-d login-form-d-f">
                         <input type="checkbox" name="remember" id="remember" class="remember"/>
                         <h1 class="remember-h1">记住我</h1>
                     </div>
                      <div class="login-form-d">
                         <button class="sure_btn" id="sure_btn">确认</button>
                     </div>                
                </form>
              </div>
          </div>
      </div>
      <script>
       var CAPTCHAOBJ;
       var handlerEmbed = function (captchaObj) {
           captchaObj.appendTo("#embed-captcha");
           CAPTCHAOBJ = captchaObj;
        };

        function loadCaptcha(){
            $.ajax({
                url: "/pc-geetest/register?t=" + (new Date()).getTime(), 
                type: "get",
                dataType: "json",
                success: function (data) {
                    initGeetest({
                        gt: data.gt,
                        challenge: data.challenge,
                        product: "embed",
                        offline: !data.success 
                    }, handlerEmbed);
                }
            });
        }
        loadCaptcha();
      </script>
      
      <% include alert.html %>
      <script type="text/javascript" src="/javascripts/libs/jquery.pjax.js"></script>
      <script type="text/javascript" src="/dist/main.min.js"></script>

  </body>
</html>