<!DOCTYPE html>
<html lang="en">

<head>
    <title>绘枫和畅 | 留言板</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="Cononicoの文艺复兴" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

    <meta name="description" itemprop="description" content="Cononicoの个人博客" />
    <meta name="keywords" itemprop="keywords" content="二次元,绘画，宅,前端,Node" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico" />
    <link rel="stylesheet" href="/ueditor/third-party/SyntaxHighlighter/shCoreDjango.css">
</head>

<body>
    <% include header.html %>
    <div id="container">
        <div class="page article-page">
            <section id="content" class="article-content">
                <article>
                    <div class="article-info-div">
                        <h3>各位dalao好：</h3>
                    </div>
                    <div class="article-content-div">
                        <p style="text-indent:2em;">我叫Cononico，是个怠惰的<ruby  style="color:#e14040;">码<rt style="color:#000;">shuài</rt>农<rt style="color:#000;">gē</rt></ruby>,
                            未来还想成为<ruby  style="color:#ffa347;">大<rt style="color:#000;">dà</rt>画<rt style="color:#000;">zuò</rt>师<rt style="color:#000;">jiā</rt></ruby>。
                        </p>
						<p style="text-indent:2em;">渣博由<a href="https://blog.coolecho.net/article/av17" data-pjax="true" style="color:blue;text-decoration:none;">Spruche</a>搭建，不是主题。
                        </p>
                        <p style="text-indent:2em;">本人懒散低调，不多的空闲时间想拿来写小说《<a href="https://www.iqing.in/book/27808" style="color:#e14040;text-decoration:none;">Orange Echo</a>》，
                            无聊至极时才会打理打理站点。
                        </p>
                        <p style="text-indent:2em;">如有问题或是想和我交流，欢迎留言！
                        </p>
                    </div>
                    <div>
                      <!-- 多说评论框 start -->
                        <div class="ds-thread" data-thread-key="messageboard" data-title="留言板" data-url="https://blog.coolecho.net/messageboard"></div>
                        <!-- 多说评论框 end -->
                        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                        <script type="text/javascript">
                            var duoshuoQuery = {short_name:"cononico"};
                            (function() {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript';ds.async = true;
                                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//'+document.location.hostname+'/javascripts/duoshuo/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0]
                                || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                        </script>
                        <!-- 多说公共JS代码 end -->
                    </div>
                </article>
            </section>
        </div>
    </div>
    <!--<% include tagsBg.html %>-->
    <% include footer.html %>
    <script src="/javascripts/libs/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/libs/jquery.pjax.js"></script>
    <script src="/javascripts/front/pjax-loading.js"></script>
    <script type="text/javascript" src="/javascripts/common/util.js"></script>
    <script type="text/javascript" src="/javascripts/front/index.js"></script>
    <script src="/javascripts/duoshuo/embed.js"></script>
    <script src="/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
    <script src="/javascripts/libs/tagcanvas.min.js"></script>
    <!--<script src="/javascripts/front/tags.js"></script>-->
</body>

</html>
