<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=website.name %> | <%= title %></title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="<%=website.name %>"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

    <link rel='stylesheet' href='/dist/main.min.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico" />
    
    <script src="/javascripts/libs/jquery-2.1.4.min.js"></script>
    
    <script type="text/javascript">
        //设定rem值
        document.getElementsByTagName("html")[0].style.fontSize = document.documentElement.clientWidth/20 + 'px';
    </script>
  </head>
  <body>
      <% include header.html %>
      
      <div class="login-main">
          <div id="login-div">
              <div class="login-form-div">
                  <form class="login-form" id="start-login-form">
                     <div class="login-form-d login-form-d-f">
                        <span class="login-website-icon"></span> 
                        <input class="login-form-ipt" type="text" placeholder="站点名称" name="website" id="start-website">
                     </div>  
                     <div class="login-form-d login-form-d-f">
                        <span class="login-username-icon"></span> 
                        <input class="login-form-ipt" type="text" placeholder="用户名" name="username" id="start-username">
                     </div> 
                     <div class="login-form-d login-form-d-f">
                        <span class="login-email-icon"></span> 
                        <input class="login-form-ipt" type="email" placeholder="邮箱" name="username" id="start-email">
                     </div> 
                     <div class="login-form-d login-form-d-f">
                        <span class="login-password-icon"></span> 
                        <input class="login-form-ipt" type="password" placeholder="密码" name="password" id="start-password">
                     </div> 
                      <div class="login-form-d login-form-d-f">
                        <span class="login-password-icon"></span> 
                        <input class="login-form-ipt" type="password" placeholder="确认密码" name="rePassword" id="start-rpassword">
                     </div>  
                     <div class="login-form-d">
                         <button class="sure_btn" id="start_sure_btn">确认</button>
                     </div>    
                  </form>
              </div>
          </div>
      </div>
      
      <!-- 弹出框 -->
      <% include alert.html %>

      <script type="text/javascript" src="/dist/main.min.js"></script>
  </body>
</html>