/* 评论框 */
.spruche-comment {
    background: #FFFFFF;
}

.spruche-comment img {
    border: none;
    vertical-align: middle;
}

.spruche-comment textarea {
    outline: none;
    resize: none;
}

.spruche-comment a {
    outline: none;
    color: #00a1d6;
    text-decoration: none;
    cursor: pointer;
}

.spruche-comment p {
    margin: 0;
    padding: 0;
}

.paging-box {
    font-size: 12px;
}

.paging-box .result {
    padding-right: 10px;
}

.paging-box .prev, .paging-box .tcd-number, .paging-box .next, .paging-box .current .dian {
    color: #222;
    cursor: pointer;
    text-align: center;
    margin: 0 4px;
    text-decoration: none;
    line-height: 26px;
}

.paging-box .prev:hover, .paging-box .tcd-number:hover, .paging-box .next:hover, .paging-box .current:hover, .paging-box .dian:hover {
    color: #00a1d6;
}

.paging-box .current {
    color: #00a1d6;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    margin: 0 4px;
    text-decoration: none;
    line-height: 26px;
}

.paging-box .current .dian {
    cursor: default;
}

.spruche-comment .sc-head {
    position: relative;
    margin-top: 10px;
}

.spruche-comment .sc-head .sc-head-t {
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    color: #222;
}

.spruche-comment .comm {
    min-height: 200px;
    padding-top: 10px;
}

.spruche-comment .comm .sc-comment {
    font-family: Microsoft YaHei,Arial,Helvetica,sans-serif;
    min-height: 100px;
    background: #fff;
}

.spruche-comment .comm .sc-comment .sc-comment-header {
    margin: 0 0 24px;
    border-bottom: 1px solid #e5e9ef;
}

.spruche-comment .comm .sc-comment .sc-comment-header:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    font-size: 0;
}

.spruche-comment .comm .sc-comment .sc-comment-header .tabs-order {
    float: left;
    margin-bottom: -1px;
}

.spruche-comment .comm .sc-comment .sc-comment-header .tabs-order li {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    padding: 8px 0;
    margin-right: 16px;
    border-bottom: 1px solid transparent;
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #222;
}

.spruche-comment .comm .sc-comment .sc-comment-header .tabs-order li.on {
    border-bottom: 1px solid #00a1d6;
    color: #00a1d6;
}

.spruche-comment .comm .sc-comment .sc-comment-header .tabs-order li.on:after {
    content: '';
    width: 6px;
    height: 3px;
    position: absolute;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #00a1d6;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    visibility: visible;
}

.spruche-comment .comm .sc-comment .sc-comment-header .header-page {
    float: right;
    line-height: 36px;
    font-size: 12px;
}

.spruche-comment .comm .sc-comment .sc-comment-header .header-page:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    font-size: 0;
}

.spruche-comment .comm .sc-comment .sc-comment-header .paging-box .result {
    padding-right: 10px;
}

.spruche-comment .comm .sc-comment .comment-send {
    margin: 10px 0;
}

.spruche-comment .comm .sc-comment .comment-send .user-face {
    float: left;
    margin: 7px 0 0 5px;
    position: relative;
}

.spruche-comment .comm .sc-comment .comment-send .user-face .user-head {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.spruche-comment .comm .sc-comment .comment-send .textarea-container {
    position: relative;
    margin-left: 85px;
    margin-right: 80px;
}

.spruche-comment .comm .sc-comment .comment-send .textarea-container textarea {
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    width: 100%!important;
    height: 65px;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal;
}

.spruche-comment .comm .sc-comment .comment-send .textarea-container .comment-submit {
    width: 70px;
    height: 64px;
    position: absolute;
    right: -80px;
    top: 0;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    vertical-align: top;
    cursor: pointer;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    transition: .1s;
    user-select: none;
}

.spruche-comment .comm .sc-comment .comment-send.no-login .textarea-container .baffle, .spruche-comment .comm .sc-comment .comment-send.not-allow .textarea-container .baffle {
    display: block;
    position: absolute;
    z-index: 102;
    width: 100%;
    top: 0;
    line-height: 64px;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    color: #777;
    background-color: #e5e9ef;
    overflow: hidden;
}

.spruche-comment .comm .sc-comment .comment-send .textarea-container .baffle {
    display: none;
}

.spruche-comment .comm .sc-comment .comment-send .textarea-container .baffle .b-btn {
    padding: 4px 9px;
    margin: 0 3px;
    color: #fff;
    background-color: #00a1d6;
    border-radius: 4px;
}

.spruche-comment .comm .sc-comment .comment-send.no-login .textarea-container .baffle .b-btn:hover {
    background-color: #00b5e5;
}

.spruche-comment .comm .sc-comment .comment-send .textarea-container .comment-submit:hover {
    background-color: #00b5e5;
    border-color: #00b5e5;
}

.spruche-comment .comm .sc-comment .comment-send .comment-emoji {
    padding: 0;
    width: 66px;
    height: 24px;
    color: #99a2aa;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    position: relative;
    z-index: 101;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    margin-left: 86px;
    margin-top: 3px;
    cursor: pointer;
}

.spruche-comment .comm .sc-comment .comment-send .comment-emoji .face{
    font-family: fontawesome;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-size: 16px;
    font-weight: lighter;
}

.spruche-comment .comm .sc-comment .comment-send .comment-emoji .face:before {
    content: "\f118";
    margin-right: 5px;
}

.spruche-comment .comm .sc-comment .comment-list {
    padding-top: 20px;
}

.spruche-comment .comm .sc-comment .comment-list .comment-list-status {
    display: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    color: #8aa1a9;
}

.spruche-comment .comm .sc-comment .comment-list[data-status='loading'] .comment-list-status {
    display: block;
}

.spruche-comment .comm .sc-comment .comment-list[data-status='failed'] .comment-list-status {
    display: block;
}

.spruche-comment .comm .sc-comment .comment-list[data-status='success'] .comment-list-status {
    display: none;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .comment-send {
    display: none;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item.open-reply .comment-send {
    display: block;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item:hover .con .info .btn-hide {
    visibility: visible;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .user-face {
    float: left;
    margin: 24px 0 0 5px;
    position: relative;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .user-face img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con {
    position: relative;
    margin-left: 85px;
    padding: 22px 0 14px;
    border-top: 1px solid #e5e9ef;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .user {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 4px;
    display: block;
    word-wrap: break-word;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .user>a {
    vertical-align: middle;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .user .name {
    color: #6d757a;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .text {
    line-height: 20px;
    padding: 2px 0;
    font-size: 14px;
    text-shadow: none;
    overflow: hidden;
    word-wrap: break-word;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info {
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .btn-hover {
    padding: 0 5px;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .btn-hide-re {
    visibility: hidden;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .btn-hover:hover {
    color: #00a1d6;
    background: #e5e9ef;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .btn-hide {
    visibility: hidden;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info>span {
    margin-right: 20px;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .like {
    cursor: pointer;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .hate {
    cursor: pointer;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .like>i {
    font-family: fontawesome;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: lighter;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .hate>i {
    font-family: fontawesome;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: lighter;
}


.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .liked>i, .spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .hated>i {
    color: #00a1d6;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .like>i:before {
    content: '\f087';
    width: 12px;
    height: 14px;
    margin-right: 5px;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .hate>i:before {
    content: '\f088';
    width: 12px;
    height: 14px;
    margin-right: 5px;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .reply-box .reply-item {
    padding: 10px 0;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .reply-box .reply-item .reply-face {
    float: left;
    margin: 5px 0 0;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .reply-box .reply-item .reply-face img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .reply-box .reply-item .reply-con {
    margin-left: 34px;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .reply-box .reply-item .reply-con .text-con {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .reply-box .view-more {
    font-size: 12px;
    color: #6d757a;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .reply-box .view-more .btn-more {
    padding: 2px 3px;
    border-radius: 4px;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .reply-box .view-more .btn-more:hover {
    background: #e5e9ef;
    color: #00a1d6;
}

.spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .reply-box .reply-item:hover .reply-con .info .btn-hide-re {
    visibility: visible;
}

.spruche-comment .tips-container{
    position: fixed;
    z-index: 105;
    width: 250px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -25px;
    background-color: #443f33;
    border: 1px solid #f8dfaa;
    color: #e7e7e7;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    display: none;
}

@media(max-width: 768px) {
    .paging-box .prev, .paging-box .tcd-number, .paging-box .next, .paging-box .current .dian {
        margin: 0 2px;
    }

    .spruche-comment .comm .sc-comment .sc-comment-header .tabs-order li {
        font-size: 12px;
    }

    .spruche-comment .comm .sc-comment .sc-comment-header .paging-box .result {
        padding-right: 3px;
    }

    .spruche-comment .comm .sc-comment .comment-send .user-face {
        margin: 10px 0 0 0;
    }

    .spruche-comment .comm .sc-comment .comment-send .user-face .user-head {
        width: 40px;
        height: 40px;
    }

    .spruche-comment .comm .sc-comment .comment-send .textarea-container {
        margin-left: 50px;
        margin-right: 60px;
    }

    .spruche-comment .comm .sc-comment .comment-send .textarea-container .comment-submit {
        width: 40px;
        height: 64px;
        right: -65px;
        font-size: 12px;
    }

    .spruche-comment .comm .sc-comment .comment-send.no-login .textarea-container .baffle, .spruche-comment .comm .sc-comment .comment-send.not-allow .textarea-container .baffle {
        line-height: 64px;
    }
    .spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .user-face {
        margin: 24px 0 0 0;
    }

    .spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .user-face img {
        width: 40px;
        height: 40px;
    }

    .spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con {
        margin-left: 50px;
    }

    .spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item.open-reply .comment-send .user-face {
        display: none;
    }

    .spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item.open-reply .comment-send .textarea-container {
        margin-left: 0;
    }

    .spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info>span {
        margin-right: 10px;
    }

    .spruche-comment .comm .sc-comment .comment-list .comments-ul .list-item .con .info .btn-hide {
        display: none;
    }
}

@keyframes tips-fade-in {
    0%{transform:translateY(20px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
@-webkit-keyframes tips-fade-in {
    0%{-webkit-transform:translateY(20px);opacity:0;}
    100%{-webkit-transform:translateY(0px);opacity:1;}
}

@-moz-keyframes tips-fade-in {
    0%{-moz-transform:translateY(20px);opacity:0;}
    100%{-moz-transform:translateY(0px);opacity:1;}
}
