/*common*/
*{
  margin: 0;
  padding: 0;
  font-family: "Hiragino Sans GB W3", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp", "Sans";
  outline: none;
  background: transparent;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  box-sizing: border-box;
}


a,a:visited {
  text-decoration: none;
  color: #232425;
}

a:hover {
  color: #070809;
}

ul, ol, li {
  list-style-type: none;
}

input, input:invalid , textarea, textarea:invalid  {
  border-color:#b2e5d5;
  background: none;
}

input:hover, textarea:hover, input:focus, textarea:focus, textarea:focus, input[type="submit"]:hover, input[type="reset"]:hover {
  background: rgba(211, 233, 211, 0.2);
}

input:active, textarea:active, input[type="submit"], input[type="reset"] {
  background: rgba(211, 233, 211, 0.4);
}

input[type="submit"]:active, input[type="reset"]:active {
  background: rgba(211, 233, 211, 0.9);
}

article img , article .wp-caption {
  max-width: 100% !important;
  height: auto;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

html,body{
  height: 100%;
}

/* font */
@font-face{
  font-family:'glyphicons';
  src:url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('/fonts/glyphicons-halflings-regular.svg#glyphicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'fontawesome';
  src: url('/assets/font-awesome/font/fontawesome-webfontf77b.eot');
  src: url('/assets/font-awesome/font/fontawesome-webfontf77b.woff') format('woff'),
       url('/assets/font-awesome/font/fontawesome-webfontf77b.ttf') format('truetype'),
       url('/assets/font-awesome/font/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* style of header */
.head-main{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #f3f7fa;
  height: 80px;
  filter: alpha(opacity=90);
  -moz-opacity: .8;
  opacity: .8;
  -khtml-opacity: .8;
  box-shadow: 0 0 5px 0 #333;
}

.mobile-head-main{
  display: none;
}

.loading-div{
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background: #FF66FF;
  box-shadow: 0 0 10px rgba(119,182,255,0.7);
}

.head_logo_div{
  position: relative;
  top: 0;
  left: 0;
  width: 160px;
  height: 80px;
  left: 50%;
  margin-left: -80px;
  line-height: 80px;
  cursor: pointer;
}

.head_logo{
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 6px solid #f93;
  border-right-color: #36c;
  border-bottom-color: #36c;
  box-sizing: border-box;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.motto{
  position: absolute;
  height: 36px;
  width: 100px;
  bottom: -60px;
  background-color:#333; 
}

.motto-l{
  left: -100px;  
  border-top-right-radius: 10px; 
}

.motto-l::before{
  content: '';
  width: 0;
  height: 0;
  border-bottom: 37px solid #333;
  border-left: 37px solid transparent;
  top: -1px;
  position: absolute;
  left: -36px;
}

.motto-r{
  right: -100px;
  border-top-left-radius: 10px;
}

.motto-r::before{
  content: '';
  width: 0;
  height: 0;
  border-bottom: 37px solid #333;
  border-right: 37px solid transparent;
  top: -1px;
  position: absolute;
  right: -36px;
}

.motto h5{
  font-weight: lighter;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #e7e7e7;
}

.head_nav_div {
  position: absolute;
  display: none;
  width: 50%;
  right: 12%;
  height: 80px;
  line-height: 80px;
  top: 0;
}

.head_nav {
  margin: 0 auto;
}

.head_nav ul li {
  float: right;
  margin-right: 55px;
  cursor: pointer;
  font-size: 16px;
}

.nav_li_on {
  color: red;
}

#header-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

/* style of login */
.login-main{
  width: 100%;
  height: 100%;
  background-color: #F1F1F1;
}

#login-div{
  width: 400px;
  margin: 0 auto;
  padding-top: 200px;
}

.login-form-div{
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #333;
}

.login-form .login-form-d{
  position: relative;
  padding: 10px 0 10px;
}

.login-form .login-website-icon::before{
  font-family: glyphicons;
  content: '\e006';
  font-size: 18px;
  position: absolute;
  top: 21px;
  left: 11px;
  color: #A7ACB0;
}

.login-form-ipt{
  display: block;
  border: 1px solid #d3d3d3;
  padding: 10px 10px;
  width: 330px;
  border-radius: 4px;
  padding-left: 40px;
  webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  color: #A7ACB0;
}

.login-form .login-username-icon::before{
  font-family: fontawesome;
  content: '\f007';
  font-size: 18px;
  position: absolute;
  top: 21px;
  left: 11px;
  color: #A7ACB0;
}

.login-form .login-email-icon::before{
  font-family: fontawesome;
  content: '\f0e0';
  font-size: 18px;
  position: absolute;
  top: 21px;
  left: 11px;
  color: #A7ACB0;
}

.login-password-icon::before{
  font-family: fontawesome;
  content: '\f13e';
  font-size: 18px;
  position: absolute;
  top: 21px;
  left: 11px;
  color: #A7ACB0;
}

.sure_btn{
  display: block;
  width: 80%;
  margin:  0 auto;
  background-color: rgb(0, 142, 173);
  border: 0;
  padding: 8px 0;
  font-size: 16px;
  color: #e7e7e7;
  border-radius: 3px;
  cursor: pointer;
}

.remember{
  display: inline-block;
}

.remember-h1{
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  color: #333;
}

/* 弹出层样式 */
.alert-container{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.alert-plur{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
   opacity: 0.5;
}

.alert-div{
  position: absolute;
  z-index: 1001;
  top: 15%;
  width: 320px;
  left: 50%;
  margin-left: -160px;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 10px;
  display: none;
}

.alert-title-div{
  position: relative;
  border-bottom: 1px #D7d7d7 solid;
}

#alert_title_h1{
  color: #333;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.alert-btn-div{
  text-align: center;
}

.alert-btn-div{
  padding-top: 20px;
}

#alert-btn{
  border:0;
  background-color: rgb(0, 142, 173);
  padding: 6px 12px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#alert_content_p{
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
}

.page{
  padding-top: 160px;
  /*background-color: #ffffff;*/
}

.page-content{
  max-width: 978px;
  width: 90%;
  margin: 0 auto;
  padding: 25px 35px;
  box-sizing: border-box;
}

.article-ul{
  overflow: hidden;
}

.article-user-img-div{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #e7e7e7;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
}

.article-user-img-div:hover{
  border-color: #99CC99;
  transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
}

.article-user-img-div:hover +.vertical-line-div .vertical-line{
  background: #000000;
}

.article-user-img-div>img{
  width: 80px;
  height: 80px;
  
}

.float-left{
  float: left;
}

.vertical-line-div{
  position: relative;
  width: 3px;
  height: 86px;
  text-align: center;
  margin: 0 10px 0 20px;
}

.vertical-line{
  display: inline-block;
  height: 50px;
  margin-top: 18px;
  width: 1px;
  background-color: #DADADA;
  transition: all 0.2s ease;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
}

.horizontal-line-div .vertical-line.vertical-line-stick {
  border: 1px solid #65ce2e;
}

.article-info{
  margin-left: 10px;
}

.article-title-h{
  position: relative;
  display: inline-block;
  padding-top: 8px;
  font-size: 24px;
  font-weight: normal;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
}

.article-title-h a, .article-title-h .stick-span{
  transition: all 0.2s ease-in-out;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
}

.article-title-h a {
  font-size: 28px;
  color: #232425;
}

.article-title-h .stick-span {
  color: #F55852;
  font-size: 22px;
}

.article-title-h:hover a{
  color: #F55852;
}

.article-other-info{
  padding-top: 8px;
  padding-left: 5px;
}

.article-other-info span{
  display: inline-block;
  margin-right: 5px;
}

.article-other-info span:last-child{
  margin-right: 0;
}

.article-other-info span a{
  margin: 2px 0;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}

.article-other-info span a::before{
  font-family: fontawesome;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin: 0 5px 0 0;
  -webkit-background-size: 18px;
  -moz-background-size: 18px;
  background-size: 18px;
  border-radius: 100px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  transition: 0.2s ease all;
  cursor: pointer;
  color: #333;
  background-color: #f7f7f7;
  box-shadow: 0 0 3px #000;
}

.article-other-info span .article-author::before{
  content: '\f007';
}

.article-other-info span .article-date::before{
  content: '\f133';
}

.article-other-info span .article-comments-num::before{
  content: '\f086';
}

.article-other-info span .article-view-num::before{
  content: '\f06e';
}

.article-other-info span:hover a::before{
  background-color: #333;
  color: #e7e7e7;
  box-shadow: 0 0 3px #e7e7e7;
}

.article-img-div{
  padding: 20px 20px 0 20px;
  text-align: center;
}

.article-img-div>img{
  width: 100%;
}

.article-summary-div{
  padding:20px 15px 10px 15px
}

.article-summary-p{
  color: #666666;
  overflow: hidden;
  line-height: 1.6;
  word-break: break-all;
  text-indent:2em
}

.article-tags-div{
  padding: 0 15px;
}

.article-tags-div a{
  font-family: fontawesome;
  box-shadow: 0 0 3px #333;
  margin-top: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.2em;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 28px;
  padding: 0 10px;
  border-radius: 14px;
  line-height: 28px;
  background-color: #46c47c;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.article-tags-div a:before{
    content: '\f02b';
    margin-right: 5px;
}

.article-tags-div a:nth-child(2n+0){
  background-color: #ff9800;
}

.article-tags-div a:nth-child(3n+0){
  background-color: #6fa3ef;
}

.article-tags-div a:hover{
  background-color: #f7f7f7;
  color: #333333;
}

.article-li{
  margin-top: 50px;
  position: relative;
  -webkit-transition: all ease-out 0.8s;
  -moz-transition: all ease-out 0.8s;
  -ms-transition: all ease-out 0.8s;
  transition: all ease-out 0.8s;
}

.article-li:first-child{
  margin-top: 10px;
}

.article-li:nth-child(odd){
  left: -100%;
}

.article-li:nth-child(even){
  left: 200%;
}

.horizontal-line-div{
  padding:10px 15px 0 15px;
}

.horizontal-line-div .vertical-line{
  width: 100%;
  height: 0px;
  background: #fff;
  transition: all 0.2s ease;
  border-bottom: 2px dotted #DADADA;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
}

.article-li:hover .horizontal-line-div .vertical-line{
  border-bottom: 2px solid #b0b5b9;
}

.article-li:hover .horizontal-line-div .vertical-line.vertical-line-stick{
  border-bottom: 1px solid #b0b5b9;
}

.article-li .stick-div {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-15deg);
  filter: alpha(opacity=70);
  -moz-opacity: .7;
  opacity: .7;
  -khtml-opacity: .7;
}

.load-more-btn-div{
  margin-top: 15px;
  position: relative;
  text-align: center;
  line-height: 30px;
  height: 110px;
}

.load-more-btn-div .load-more-btn-div-cnt{
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 26px;
  border: #e7e7e7 2px dotted;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
}

.load-more-btn-div .load-more-btn-div-cnt .lode-more-shine{
  z-index: 2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
}

.load-more-btn-div .load-more-btn-div-cnt .load-more-shine-left{
  left: -5px;
}

.load-more-btn-div .load-more-btn-div-cnt .load-more-shine-right{
  right: -5px;
}

.load-more-btn-div .load-more-btn-div-cnt .load-line{
  position: relative;
  top: -4px;
  display: inline-block;
  height: 1px;
  width: 30px; 
  background: #d7d7d7;
}

.load-more-btn-div .load-more-btn-div-cnt .load-more-a{
  margin: 0 5px;
  font-size: 16px;
  font-variant: small-caps;
  cursor: pointer;
  color: #b0b5b9;
}

.load-more-btn-div .load-more-btn-div-cnt:hover{
  padding: 10px 60px;
  border-style: solid;
  background-color: #f7f7f7;
}
/*
.load-more-btn-div .load-more-btn-div-cnt:hover .load-more-shine-left{
  left: 105%;
}

.load-more-btn-div .load-more-btn-div-cnt:hover .load-more-shine-right{
  right: 105%;
}
*/
#backtop {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3.75rem;
  width: 3.75rem;
  z-index: 998;
  text-align: center;
  font-size: 1.2rem;
  box-sizing: content-box;
  color: #333;
  text-align: center;
  border-radius: 100%;
  filter: alpha(opacity=70);
  -moz-opacity: .7;
  opacity: .7;
  -khtml-opacity: .7;
}

#backtop .backtop-border {
  z-index: -1;
  display: block;
  position: absolute;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 100%;
  border: 0.16rem dotted #7e9016;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #e7e7e7;
  box-shadow: 0 0 0.5rem rgba(0,0,0,1);
  -webkit-animation: toproll 4s linear infinite normal;
  -moz-animation: toproll 4s linear infinite normal;
  animation: toproll 4s linear infinite normal;
}

#backtop .backtop-icon {
  display: inline-block;
  font: normal normal normal 14px/1 fontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 1.25rem;
  margin-top: 1.25rem;
  cursor: pointer;
}

#backtop .backtop-icon::before {
  content: '\f077';
}

#backtop:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  -khtml-opacity: 1;
}

#backtop:hover .backtop-border{
  -webkit-animation: toproll 2s linear infinite normal;
  -moz-animation: toproll 2s linear infinite normal;
  animation: toproll 2s linear infinite normal;
}

@keyframes toproll {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@-webkit-keyframes toproll {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
  }
}

@-moz-keyframes toproll {
  from {
    -moz-transform:rotate(0deg);
  }
  to {
    -moz-transform:rotate(360deg);
  }
}

.foot {
    width: 100%;
    /*background: #fff;*/
    position: relative;
    display: block;
}

.foot_power {
    text-align: center;
    padding: 30px 0;
}

.foot_power h3 {
    display: inline-block;
    font-size: 16px;
    color: #999;
    font-weight: 400;
}

.foot_power h3 a {
    color: #999;
    font-weight: 400;
}

.article-content{
  max-width: 978px;
  width: 90%;
  margin: 0 auto;
  padding: 25px 45px;
  box-sizing: border-box;
  animation: fade-in .5s;
  -webkit-animation: fade-in .5s;
  -moz-keyframes: fade-in .5s;
}

@keyframes fade-in{
  0%{transform:translateY(20px);opacity:0;}
  100%{transform:translateY(0px);opacity:1;}
}
@-webkit-keyframes fade-in{
  0%{-webkit-transform:translateY(20px);opacity:0;}
  100%{-webkit-transform:translateY(0px);opacity:1;}
}

@-moz-keyframes fade-in {
  0%{-moz-transform:translateY(20px);opacity:0;}
  100%{-moz-transform:translateY(0px);opacity:1;}
}


/*标签样式*/
.tags-canvas-content{
    position:fixed;
    width:100%;
    height:100%;
    background:#ffffff;
    top: 0;
    z-index: -1;
}

/*文章页面标签样式*/
.article-content-div{
  padding: 2em 0 1em 0;
  line-height: 1.9em;
  font-size:16px;
  color: #444;
}

.article-content-div div{
  margin:0 auto;
}

.article-content-div h1,.article-content-div h2,.article-content-div h3,.article-content-div h4,.article-content-div h5,.article-content-div h6{
    margin: 1em 0;
    word-break: break-all;
}

.article-content-div .wp-caption-text{
    text-align: center;
    color:cadetblue;
}

.article-content-div a{
    color: blueviolet;
    text-decoration: underline;
}

.article-content-div a:hover{
    color: darkblue;
}

.article-content-div a:visited{
    color: dimgrey;
}

.article-content-div ol,.article-content-div ul, .article-content-div li{
  margin: 0 1em;
}

.article-content-div ol li{
  list-style-type: decimal;
}

.article-content-div ul li{
  list-style-type: disc;
}

.article-content-div p {
  text-indent:0em;
  margin-bottom: 1em;
}

.article-content-div p img {
  margin: 1em 0em;
  cursor: pointer;
  border: 5px solid #e7e7e7;
  border-radius: 5px;
}

.article-content-div ul li p,  .article-content-div ol li p{
  text-indent: 0;
  margin-bottom: 0;
}

.article-content-div blockquote, .licenses-div blockquote {
  color: #7f8fa4;
  font-size: inherit;
  padding: 8px 21px;
  margin: 12px 0;
  border-left: 3px solid #e7e7e7;
  background-color: #f7f7f7;
}

.licenses-div blockquote a {
  color: #b5b524;
}

.article-content-div blockquote p, .licenses-div blockquote {
  text-indent: 0;
  margin-bottom: 0;
  color: #7f8fa4;
  font-size: inherit;
  line-height: 1.5;
}

.article-content-div .custom_dash, .article-content-div .list-dash{
  list-style-type: none;
}

.article-content-div .list-dash>p::before{
  color: #017cb9;
  content: '--';
  margin-right: 0.3em;
}

.article-content-div table {
  border-collapse: collapse;
  border: 0;
  display: block;
  width: 95%;
  overflow: auto;
  margin: 0.5em auto;
}
.article-content-div table tr, .article-content-div table th{
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.article-content-div table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.article-content-div .syntaxhighlighter td {
  border-width: 0 !important;
}

.article-content .qrcode-div {
  text-align: center;
  margin-top: 1em;
}

.article-content .qrcode-div img {
  width: 200px;
  box-shadow: 0 0 3px #d7d7d7;
}

.post-nav {
  padding-top: 20px;
  padding-bottom: 10px;
}

.post-nav>div{
  margin-bottom: 10px;
}

.post-nav .post-nav-prev-span,.post-nav .post-nav-next-span{
  font-family: fontawesome;
  line-height: 1.5em;
  background-color: rgb(45, 154, 140);
  color: #ffffff;
  padding: 0.2em 0.3em;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.post-nav-prev-span::before{
  content: '\f106';
}

.post-nav-next-span::before{
  content: '\f107';
}

.post-nav-prev-span:hover,.post-nav-next-span:hover{
  background-color: #e7e7e7;
  color: #000000;
}

.post-nav .post-nav-a{
  margin-left: 15px;
}

.img-view {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  box-sizing: border-box;
  text-align: center;
  background-color: #F7F7F7;
  padding: 10%;
}

.img-view .img-view-div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.img-view h5{
  font-size: 16px;
  position: relative;
  top: -30px;
}

.img-view .img-view-div img {
  position: relative;
    cursor: pointer;
}

/*友情链接*/
.friends-link-title{
  font-weight: normal;
}

.friends-article-other-info h4{
  font-weight: normal;
}

.friends-info-motto{
  margin-left: 20px;
  line-height: 80px;
}

.float-right{
  float: right;
}

.friends-info-motto h4{
  font-weight: normal;
}

.friends-li:first-child{
  margin-top: 0;
}

.friends-ul{
  margin-bottom: 50px;
}

.friends-li{
  padding: 10px 20px;
  background: #f6f6f6;
  border-radius: 5px;
  margin-top: 20px;
  /*filter: alpha(opacity=70);*/
  /*-moz-opacity: .7;*/
  /*opacity: .7;*/
  /*-khtml-opacity: .7;*/
}

.friends-motto{
  font-weight: normal;
  margin-top: 10px;
  text-align: right;

}

.friends-li .friends-li-div a>img {
  width: 100%;
  height: 100%;
}

.float-right{
  float: right;
}

.shine-font-span.friends-link{
  background: #f6f6f6;
}

.friends-li-div.friends-link.mobile{
  display: none;
}

.spinner-container {
  display: none;
  position: relative;
  text-align: center;
  padding: 10px 0;
}

@media(max-width: 1080px){
  .head_nav_div{
    width: 70%;
    right: 5%;
  }
}

@media(max-width:  768px){
  .head-main{
    display: none;
  }

  .mobile-head-main{
    display: block;
  }

  .mobile-menu{
    z-index: 100;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    color: #5c5c5c;
  }

  .get-menu-icon,.home-menu-icon{
    position: absolute;
    font-family: fontawesome;
    line-height: 50px;
    font-weight: lighter;
    color: #666666;
  }

  .get-menu-icon{
    font-size: 20px;
    left:4%;
  }

  .home-menu-icon{
    font-size: 25px;
    right: 4%;
  }

  .get-menu-icon::before{
    content: '\f0c9';
  }

  .home-menu-icon::before{
    content:'\f015';
  }

  .website-h3{
    display: inline-block;
    line-height: 50px;
    font-weight: lighter;
  }

  .mobile-nav{
    z-index: 101;
    position: fixed;
    left: -60%;
    width: 60%;
    height: 100%;
    padding-top: 10px;
    background-color: #3d454d;
  }

  .mobile-head-logo{
    display: block;
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid #f93;
    border-right-color: #36c;
    border-bottom-color: #36c;
  }

  .motto-h5{
    text-align: center;
    margin-top: 10px;
    color: #d7d7d7;
    font-size: 10px;
    font-weight: lighter;
  }

  .mobile-head-nav-div{
    margin-top: 16px;
  }

  .mobile-nav-ul li{
    color: #e7e7e7;
    padding: 5px 0 5px 20%;
  }

  .mobile-nav-ul .nav_li_on{
    background: #333;
  }

  .page{
    padding-top: 50px;
    overflow: hidden;
  }

  .page-content{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .article-user-img-div{
    display: none;
  }

  .article-user-img-div.friends-link{
    display: block;
  }

  .vertical-line-div{
    display: none;
  }

  .vertical-line-div.friends-link{
    display: block;
  }

  .article-info{
    margin-left: 0;
  }

  .article-title-h{
    padding-top: 0;
    font-size: 16px;
  }

  .article-title-h a {
    font-size: 18px;
  }

  .article-title-h .stick-span {
    font-size: 14px;
  }

  .article-summary-p {
    font-size: 14px;
  }

  .article-other-info{
    padding-left: 5px;
  }

  .article-other-info span{
    margin-right: 2px;
  }

  .article-other-info span a{
    font-size: 12px;
  }

  .article-other-info span a::before{
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  .article-other-info span:nth-child(2){
    display: none;
  }

  .article-summary-div{
    padding: 10px 5px;
  }

  .horizontal-line-div{
    padding: 0 10px;
  }

  .article-li{
    margin-top: 20px;
  }

  .foot_power h3{
    font-size: 14px;
  }

  .article-content{
    width: 100%;
    padding: 25px 20px;
    box-sizing: border-box;
  }

  .article-content-div{
    font-size: 14px;
  }

  .article-content-div ul li, .article-content-div ol li {
    font-size: 14px;
  }

  .article-content-div{
    padding: 1em 0 1em 0;
  }

  .article-li:nth-child(odd){
    left: 0;
  }

  .article-li:nth-child(even){
    left: 0;
  }
  .article-li .stick-div {
    display: none;
  }
  .article-tags-div {
    padding: 0 5px;
  }
  .article-tags-div a {
    adding: 0 6px;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    margin-right: 0;
  }
}


@keyframes article_rotate {
  from {
    transform:rotateX(45deg);
  }
  to {
    transform:rotateX(0deg);
  }
}