<!DOCTYPE html>
<html lang="en">

<head>
    <title>文章调教</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="Spruche|文章调教" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

    <meta name="description" itemprop="description" content="Spruche|文章调教" />
    <meta name="keywords" itemprop="keywords" content="二次元,绘画，宅,前端,Node" />

    <link rel='stylesheet' href='/dist/back.min.css' />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/libs/bootstrap.min.css" />
    <!--external css-->
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css" />
</head>
<body>
    <div class="wirte-content">
        <ul>
            <% for(var i in blogs){ %>
            <li class="panel panel-default">
                <div class="panel-heading">
                    <%=blogs[i].id%>.<a href="/article/av<%=blogs[i].id%>" target="_blank"><%=blogs[i].title%></a>
                </div>
                <div class="panel-body article-other-info">
                    <span>
                        <a class="article-author"><%=blogs[i].username%></a>
                    </span>
                    <span>
                        <a class="article-comments-num ds-thread-count" data-thread-key="<%=blogs[i].id%>" data-count-type="comments">0 Comments</a>
                    </span>
                    <span>
                        <a class="article-view-num"><%=blogs[i].view_num%> Views</a>
                    </span>
                    <span>
                        <a class="article-date"><%=blogs[i].publish_date.getFullYear()%>-<%=blogs[i].publish_date.getMonth()+1%>-<%=blogs[i].publish_date.getDate()%></a>
                    </span>
                    <span>
                        <a class="article_edit" href="/admin/editarticle?id=<%=blogs[i].id%>">编辑</a>
                    </span>
                    <span>
                        <a class="article_delete" data-id="<%=blogs[i].id%>">删除</a>
                    </span>
                    <span class="stick-cont">
                        <% if(blogs[i].stick == 0){ %>
                        <button type="button" class="article-stick btn btn-default" data-id="<%=blogs[i].id%>">置顶</button>
                        <% }else{ %>
                        <button type="button" class="article-stick-false btn btn-danger" data-id="<%=blogs[i].id%>">取消置顶</button>
                        <% } %>
                    </span>
                    <% if(blogs[i].state == 1) {%>
                    <span class="label label-primary">草稿</span>
                    <% } %>
                </div>
            </li>
            <%}%>
        </ul>
    </div>

    <script src="/javascripts/libs/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/libs/bootstrap.min.js"></script>
    <script src="/dist/back.min.js"></script>
    <script>var duoshuoQuery = {short_name:"<%=website.short_name%>"};</script>
    <script src="//static.duoshuo.com/embed.js"></script>
</body>
</html>