<!DOCTYPE html>
<html lang="en">
  <head>
    <title>站点调教</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="Cononicoの文艺复兴"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

    <link rel='stylesheet' href='/stylesheets/back.css' />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/libs/bootstrap.min.css" />
    <!--external css-->
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico" />
    
    <script src="/javascripts/libs/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/libs/jquery.cookie.js"></script>
  
  </head>
  <body>
    <h1>Welcome to SPRUCHE!</h1>
    <div id="info-main">
    </div>
    <script src="/javascripts/libs/bootstrap.min.js"></script>
    <script src="/javascripts/back/index.js"></script>
  </body>
</html>