<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= website.name %> | <%= blog.title %></title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="<%= website.name %>"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">
    
    <meta name="description" itemprop="description" content="<%=blog.title %>" />
    <meta name="keywords" itemprop="keywords" content="<%=blog.tags%>" />

    <link rel='stylesheet' href='/dist/main.min.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico" />

    <link rel="stylesheet" href="/ueditor/third-party/SyntaxHighlighter/shCoreDjango.css">
    <script src="/javascripts/libs/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/libs/jquery.cookie.js"></script>
    <% include darkness.html %>
  </head>
  <body>
      <% include header.html %>
      <div id="container">
          <div class="page article-page">
              <section id="content" class="article-content">
                  <article>
                    <div class="article-info-div">
                        <div class="article-user-img-div float-left">
                          <img src="<%=blog.head_img %>">
                        </div>
                        <div class="vertical-line-div float-left">
                          <div class="vertical-line"></div>
                        </div>
                        <div class="article-info float-left">
                          <h3 class="article-title-h">
                            <span class="shine-font-span"></span>
                            <a href="/article/av<%=blog.id %>" data-pjax="true"><%=blog.title %></a>
                          </h3>
                          <div class="article-other-info">
                            <span>
                              <a class="article-author" data-pjax="true"><%= blog.username %></a>
                            </span><span>
                              <a class="article-comments-num" data-pjax="true"><%= commentsView.count %> Comments</a>
                            </span><span>
                              <a class="article-view-num"><%= blog.view_num %> Views</a>
                            </span><span>
                              <a class="article-date"><%= blog.publish_date.getFullYear()+'-'+(blog.publish_date.getMonth()+1)+'-'+blog.publish_date.getDate() %></a>
                            </span>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="article-content-div">
                        <%- blog.content %>
                    </div>
                    <div class="licenses-div">
                        <blockquote>
                            <p style="text-align:center;">
                                <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="知识共享许可协议" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png"></a><br>本作品采用
                                <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a>进行许可。<br>
                            </p>
                        </blockquote>
                    </div>
                    <nav class="post-nav">
                       <% if(prev.length != 0){ %>
                       <div>
                           <span class="post-nav-prev-span">上一篇</span>
                           <a class="post-nav-a" href="/article/av<%= prev[0].id %>" data-pjax="true"><%= prev[0].title %></a>
                       </div>
                       <% } %>
                       <% if(next.length != 0){ %>
                       <div>
                           <span class="post-nav-next-span">下一篇</span>
                           <a class="post-nav-a" href="/article/av<%= next[0].id %>" data-pjax="true"><%= next[0].title %></a>
                       </div>
                       <% } %>
                    </nav>
                  </article>
              </section>
          </div>
      </div>
      <div class="img-view">
          <h5></h5>
          <div class="img-view-div">
              <img />
          </div>
      </div>
      <!--<% include tagsBg.html %>-->
      <% include alert.html %>
      <% include footer.html %>
      <script src="/javascripts/libs/jquery.pjax.js"></script>
      <script src="/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
      <script src="/javascripts/libs/tagcanvas.min.js"></script>
      <script type="text/javascript" src="/dist/main.min.js"></script>
      <script type="text/javascript">
          SyntaxHighlighter.highlight();
          $("table.syntaxhighlighter").each(function () {
            if (!$(this).hasClass("nogutter")) {
                var $gutter = $($(this).find(".gutter")[0]);
                var $codeLines = $($(this).find(".code .line"));
                $gutter.find(".line").each(function (i) {
                    $(this).height($($codeLines[i]).height());
                    $($codeLines[i]).height($($codeLines[i]).height());
                });
            }
        });
    </script>
  </body>
</html>