<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= website.name %> | 友人帐</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="<%= website.name %>,友情链接" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

    <meta name="description" itemprop="description" content="<%= website.name %>的友情链接" />
    <meta name="keywords" itemprop="keywords" content="二次元,绘画，宅,前端,Node" />

    <link rel='stylesheet' href='/dist/main.min.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico" />
    <link rel="stylesheet" href="/ueditor/third-party/SyntaxHighlighter/shCoreDjango.css">
    <script src="/javascripts/libs/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/libs/jquery.cookie.js"></script>
    <% include darkness.html %>
</head>

<body>
<% include header.html %>
<div id="container">
    <div class="page article-page">
        <section id="content" class="article-content">
            <article>
                <div class="article-info-div">
                    <h3 class="friends-link-title">Cononico的小伙伴们(无先后次序)：</h3>
                </div>
                <div style="padding-top:50px;">
                    <ul class="friends-ul">
                        <% for(var i = 0; i < friends.length; i++) { %>
                        <li class="friends-li">
                            <div class="friends-li-div" >
                                <div class="article-user-img-div friends-link float-left">
                                    <a href="<%= friends[i].url %>">
                                        <img src="<%= friends[i].head %>"/>
                                    </a>
                                </div>
                                <div class="vertical-line-div friends-link float-left">
                                    <div class="vertical-line"></div>
                                </div>
                                <div class="article-info float-left">
                                    <h3 class="article-title-h friends-link">
                                        <span class="shine-font-span friends-link"></span>
                                        <a href="<%= friends[i].url %>"><%= friends[i].name %></a>
                                    </h3>
                                    <div class="article-other-info friends-article-other-info">
                                        <h4><a href="http://noearth.com/"><%= friends[i].website %></a></h4>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="friends-li-div">
                                <h4 class="friends-motto">——<%= friends[i].description %></h4>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </article>
        </section>
    </div>
</div>
<% include footer.html %>
<script src="/javascripts/libs/jquery.pjax.js"></script>
<script src="/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
<script type="text/javascript" src="/dist/main.min.js"></script>
</body>

</html>