<!DOCTYPE html>
<html lang="en">

<head>
    <title>绘枫和畅 | # 吐槽</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="Cononicoの文艺复兴" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

    <meta name="description" itemprop="description" content="Cononicoの个人博客" />
    <meta name="keywords" itemprop="keywords" content="二次元,绘画，宅,前端,Node" />

    <link rel='stylesheet' href='/dist/main.min.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico" />
    <link rel="stylesheet" href="/ueditor/third-party/SyntaxHighlighter/shCoreDjango.css">
    <script src="/javascripts/libs/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/libs/jquery.cookie.js"></script>
    <% include darkness.html %>
</head>

<body>
    <% include header.html %>
    <div id="container">
        <div class="page article-page">
            <section id="content" class="article-content">
                <article>
                    <div class="article-info-div">
                        <h3># 亲爱的灰烬大人，您好：</h3>
                    </div>
                    <div class="article-content-div">
                        <p style="text-indent:2em;">欢迎来到 <ruby style="color:#e14040;">传<rt class="yinbiao">guò</rt>火<rt class="yinbiao">qì</rt>祭<rt class="yinbiao">dē</rt>祀<rt class="yinbiao">bó</rt>场<rt class="yinbiao">kè</rt></ruby>，这里是Alchemy —— 狭小世界的防火女。</p>

                        <div class="article-info-div">
                            <h4>## 关于博客 </h4>
                        </div>
                        <p style="text-indent:2em;">此处是我连接 <b style="color:#ffa347;">世界</b> 之所，你永远不会找到携带任何 <b style="color:#ffa347;">价值</b> 抑或 <b style="color:#ffa347;">意义</b> 的东西。</p>


                        <p style="text-indent:2em;">但你仍可以沿着贯穿世界透明折线，窥探它的 <a href="https://github.com/IceEnd/Spruche" target="__blank" style="color:#ffa347 !important;">心脏</a> 。</p>

                        <div class="article-info-div">
                            <h4>## 关于我 </h4>
                        </div>

                        <p style="text-indent:2em;">
                           <b>-</b> 沉迷吉他指弹，偏爱押尾光太郎
                        </p>

                        <p style="text-indent:2em;">
                            <b>-</b> 绘画爱好者，虽然画得不多也不好
                        </p>

                        <p style="text-indent:2em;">
                            <b>-</b> 伪历史迷，钟爱三国和大明，最喜欢的历史人物是 <a href="https://www.coolecho.net/article/av41" target="__blank" style="color:#ffa347 !important;">于谦</a>
                        </p>

                        <p style="text-indent:2em;">
                            <b>-</b> 深居浅出，喜欢克苏鲁神话
                        </p>

                        <p style="text-indent:2em;">
                            <b>-</b> 职业是IT开发者，更喜欢做产品
                        </p>

                        <p style="text-indent:2em;">
                            <b>>_</b> 孤癖型文艺青年
                        </p>

                        <p style="text-indent:2em;">如果灰烬大人有任何疑问，可以在此处留下您的印记！</p>
                    </div>
                </article>
            </section>
        </div>
    </div>
    <div class="img-view">
        <h5></h5>
        <div class="img-view-div">
            <img />
        </div>
    </div>
    <% include alert.html %>
    <% include footer.html %>
    <script src="/javascripts/libs/jquery.pjax.js"></script>
    <script src="/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
    <script type="text/javascript" src="/dist/main.min.js"></script>
</body>

</html>
